<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
      {% for meal in meals %}
          <h2>{{ meal.1 }}</h2>
              {% for i in item_list %}
                   {% if i.meal_type == meal.0 %}
                       {% if i.status == 0 %}
                          <a href="{%  url 'menu_item'  i.pk %}"><h3><del>{{ i.meal }}</del></h3></a>
                          <p>{{ i.description }}</p>
                       {% else %}
                          <a  href="{%  url 'menu_item'  i.pk %}"><h3>{{ i.meal }}</h3></a>
                          <p>{{ i.description }}</p>
                        {% endif %}
                  {% endif %}
              {% endfor %}
      {% endfor %}
</body>
</html>